.claude
.codex
.gemini
.opencode
.vscode
.agent
.github
.planning
.env
server/public/downloads/
server/debug.log
server/node_modules
agent/dist/
agent/.cache
agent/dist-packager
agent/dist-installer
agent/node_modules
viewer/node_modules
viewer/dist
viewer/node_modules/.package-lock.json
